In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [12]:
df = pd.read_csv("result.csv")
df.head()

   number  win  stone
0       0   -4   -122
1       1   -4   -125
2       2    2    -37
3       3   -2    -86
4       4   -2    -11

In [17]:
plt.plot(df["win"])
plt.title("win num")
plt.xlabel("generation")
plt.ylabel("win num")
plt.savefig("pic/win_num.png")
plt.close()

In [18]:
plt.plot(df["stone"])
plt.title("stone num")
plt.xlabel("generation")
plt.ylabel("stone num")
plt.savefig("pic/stone_num.png")
plt.close()