# 01 とりあえず、様々なパターンのネットワークを試してみる

In [1]:
import glob
import re
import pandas as pd

In [2]:
def cal_learning_degree(loss_history):
    ld = 0
    
    for i in range(len(loss_history)-1):
        ld += (loss_history[i] - loss_history[i+1]) / (loss_history[i] * loss_history[i])

    return ld

def information(file_name):
    num = re.findall(r"\d+", file_name)
    act_ = re.findall(r"(ReLu)|(Sigmoid)|(Tanh)", file_name)
    act = []
    for a in act_:
        for name in a:
            if name:
                act.append(name)
    return num, act

In [3]:
full_data = []

for file_name in glob.glob("data/01/*.csv"):
    data = {}
    info = information(file_name)
    data["input_nodes_num"] = info[0][0]
    data["dense_nodes_num"] = info[0][1]
    data["batch_size"] = info[0][2]
    data["input_act"] = info[1][0]
    data["dense_act"] = info[1][1]

    with open(file_name, "r") as fp:
        data["history"] = pd.read_csv(fp)["loss"]
    
    data["ld"] = cal_learning_degree(data["history"])
    data["min_loss"] = data["history"].min()
    full_data.append(data)

df = pd.DataFrame(full_data)

In [4]:
df_sorted = df.sort_values(by="min_loss", ascending=True)
df_sorted.head(10)

,input_nodes_num,dense_nodes_num,batch_size,input_act,dense_act,history,ld,min_loss
50,100,50,30,Tanh,Sigmoid,0 7.709273 1 7.709663 2 7.710051 3...,-0.000183,7.709273
14,100,50,30,ReLu,Sigmoid,0 9.451597 1 9.429801 2 9.407923 3...,0.008359,8.757859
48,100,50,10,Tanh,Sigmoid,0 9.300450 1 9.268642 2 9.243249 3...,0.003168,9.033841
49,100,50,20,Tanh,Sigmoid,0 9.427904 1 9.423964 2 9.420234 3...,0.001042,9.336167
13,100,50,20,ReLu,Sigmoid,0 10.548161 1 10.533104 2 10.51862...,0.003945,10.126183
12,100,50,10,ReLu,Sigmoid,0 11.643774 1 11.588019 2 11.53839...,0.005209,10.976412
53,100,50,30,Tanh,Tanh,0 12.183003 1 12.156798 2 12.13086...,0.004919,11.492905
35,100,50,30,Sigmoid,Tanh,0 12.768915 1 12.736880 2 12.70488...,0.006463,11.793062
17,100,50,30,ReLu,Tanh,0 12.728774 1 12.698323 2 12.66822...,0.006147,11.802863
15,100,50,10,ReLu,Tanh,0 15.154627 1 15.024613 2 14.90743...,0.007425,13.615574

In [5]:
df_sorted = df.sort_values(by="ld", ascending=False)
df_sorted.head(10)

,input_nodes_num,dense_nodes_num,batch_size,input_act,dense_act,history,ld,min_loss
51,100,50,10,Tanh,Tanh,0 16.647636 1 16.492973 2 16.35307...,0.009699,14.322286
14,100,50,30,ReLu,Sigmoid,0 9.451597 1 9.429801 2 9.407923 3...,0.008359,8.757859
33,100,50,10,Sigmoid,Tanh,0 15.545637 1 15.413254 2 15.29527...,0.007569,13.902441
15,100,50,10,ReLu,Tanh,0 15.154627 1 15.024613 2 14.90743...,0.007425,13.615574
35,100,50,30,Sigmoid,Tanh,0 12.768915 1 12.736880 2 12.70488...,0.006463,11.793062
17,100,50,30,ReLu,Tanh,0 12.728774 1 12.698323 2 12.66822...,0.006147,11.802863
52,100,50,20,Tanh,Tanh,0 15.316618 1 15.247943 2 15.18231...,0.005883,14.046638
30,100,50,10,Sigmoid,Sigmoid,0 16.993170 1 16.882877 2 16.78487...,0.005395,15.561646
12,100,50,10,ReLu,Sigmoid,0 11.643774 1 11.588019 2 11.53839...,0.005209,10.976412
53,100,50,30,Tanh,Tanh,0 12.183003 1 12.156798 2 12.13086...,0.004919,11.492905

In [6]:
df.corr()

                ld  min_loss
ld        1.000000 -0.114191
min_loss -0.114191  1.000000

In [110]:
df_big = df.sort_values(by="ld", ascending=False).query("ld>0.005")
df_big

,input_nodes_num,dense_nodes_num,batch_size,input_act,dense_act,history,ld,min_loss
51,100,50,10,Tanh,Tanh,0 16.647636 1 16.492973 2 16.35307...,0.009699,14.322286
14,100,50,30,ReLu,Sigmoid,0 9.451597 1 9.429801 2 9.407923 3...,0.008359,8.757859
33,100,50,10,Sigmoid,Tanh,0 15.545637 1 15.413254 2 15.29527...,0.007569,13.902441
15,100,50,10,ReLu,Tanh,0 15.154627 1 15.024613 2 14.90743...,0.007425,13.615574
35,100,50,30,Sigmoid,Tanh,0 12.768915 1 12.736880 2 12.70488...,0.006463,11.793062
17,100,50,30,ReLu,Tanh,0 12.728774 1 12.698323 2 12.66822...,0.006147,11.802863
52,100,50,20,Tanh,Tanh,0 15.316618 1 15.247943 2 15.18231...,0.005883,14.046638
30,100,50,10,Sigmoid,Sigmoid,0 16.993170 1 16.882877 2 16.78487...,0.005395,15.561646
12,100,50,10,ReLu,Sigmoid,0 11.643774 1 11.588019 2 11.53839...,0.005209,10.976412

In [28]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


df_14 = pd.read_csv("data/01/node100 actReLu node50 actSigmoid batch30.csv")

sns.set()

In [30]:
plt.plot(df_14["loss"])
plt.savefig("pic/df_14.png")
plt.clf()
plt.close()

# 02 df_14の、エポック数を増やしてみる

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [42]:
df = pd.read_csv("data/02/history1000.csv")
plt.plot(df["loss"], label="train")
plt.plot(df["valLoss"], label="val")
plt.legend()
plt.savefig("pic/df_14_epoch1000.png")
plt.clf()
plt.close()

In [43]:
print(df["loss"].min())
print(df["valLoss"].min())

7.951017
8.41695

# 03 誤差関数を変えてみる

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set()

In [2]:
df = pd.read_csv("data/03/history1000.csv")
plt.plot(df["loss"], label="train")
plt.plot(df["valLoss"], label="val")
plt.legend()
plt.savefig("pic/df_14_epoch1000_MSE.png")
plt.clf()
plt.close()

In [3]:
print(df["loss"].min())
print(df["valLoss"].min())

18140.143332
18160.186681

In [5]:
print(np.sqrt(df["loss"].min()))
print(np.sqrt(df["valLoss"].min()))

134.68534935916378
134.75973686899215

# 04 02のネットワークをいじる

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set()

In [2]:
df = pd.read_csv("data/04/history1000.csv")
plt.plot(df["loss"], label="train")
plt.plot(df["valLoss"], label="val")
plt.legend()
plt.savefig("pic/df_14_epoch1000_bigdata.png")
plt.clf()
plt.close()

In [3]:
print(df["loss"].min())
print(df["valLoss"].min())

10.368646
10.62147

In [2]:
df = pd.read_csv("data/04/history1500.csv")
plt.plot(df["loss"], label="train")
plt.plot(df["valLoss"], label="val")
plt.legend()
plt.savefig("pic/df_14_epoch1500_bigdata.png")
plt.clf()
plt.close()

print(df["loss"].min())
print(df["valLoss"].min())

9.124575
9.160001

# 05 02のネットワークのハイパーパラメータをいじる

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set()

In [2]:
df = pd.read_csv("data/05/history.csv")
plt.plot(df["loss"], label="train")
plt.plot(df["valLoss"], label="val")
plt.legend()
plt.savefig("pic/df_14_dense64.png")
plt.clf()
plt.close()

print(df["loss"].min())
print(df["valLoss"].min())

32.74
32.242667

# 06 中間層のノード数

In [30]:
import glob
import re

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set()

In [51]:
def cal_learn_degree(arr):
    ld = 0
    for i in range(len(arr)-1):
        ld += (arr[i] - arr[i+1]) / (arr[i] * arr[i])

    return ld

In [52]:
full_data = []

for filename in glob.glob("data/06/history*.csv"):
    data = {}
    with open(filename, "r") as fp:
        df = pd.read_csv(fp)
    middle_num = re.findall(r"\d+", filename)
    data["nodes_num"] = int(middle_num[1])
    data["loss"] = list(df["loss"])
    data["val_loss"] = list(df["valLoss"])
    data["loss_min"] = df["loss"].min()
    data["val_loss_min"] = df["valLoss"].min()
    data["ld"] = cal_learn_degree(data["val_loss"])
    full_data.append(data)

full_data = sorted(full_data, key=lambda x: x["nodes_num"])

In [36]:
x = np.array(list(map(lambda x: x["nodes_num"], full_data)))
y = list(map(lambda y: y["loss_min"], full_data))
val_y = list(map(lambda y: y["val_loss_min"], full_data))
width = 2

plt.bar(x-width/2, y, label="train", width=width)
plt.bar(x+width/2, val_y, label="val", width=width)
plt.legend()
plt.xlabel("Number of middle layer's nodes")
plt.ylabel("Mean absolute error")
plt.savefig("pic/middle_experiment.png", dpi=150)
plt.clf()
plt.close()

In [48]:
loss_35 = [y["loss"] for y in full_data if 35 == y["nodes_num"]][0]
val_loss_35 = [y["val_loss"] for y in full_data if 35 == y["nodes_num"]][0]

plt.plot(loss_35, label="train")
plt.plot(val_loss_35, label="val")
plt.legend()
plt.xlabel("Number of epoch")
plt.ylabel("Mean absolute error")
plt.savefig("pic/middle_experiment_35.png", dpi=150)
plt.clf()
plt.close()

In [62]:
top_ld = sorted(full_data, key=lambda x: x["ld"], reverse=True)[0]

print(top_ld["nodes_num"])

70

In [63]:
loss_35 = [y["loss"] for y in full_data if 70 == y["nodes_num"]][0]
val_loss_35 = [y["val_loss"] for y in full_data if 70 == y["nodes_num"]][0]

plt.plot(loss_35, label="train")
plt.plot(val_loss_35, label="val")
plt.legend()
plt.xlabel("Number of epoch")
plt.ylabel("Mean absolute error")
plt.savefig("pic/middle_experiment_70.png", dpi=150)
plt.clf()
plt.close()

# 07 06のネットワークのエポック数を増やしてみる

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [6]:
with open("data/07/history.csv") as fp:
    df = pd.read_csv(fp)

In [7]:
plt.plot(df["loss"], label="train")
plt.plot(df["valLoss"], label="val")
plt.legend()
plt.xlabel("Number of epoch")
plt.ylabel("Mean absolute error")
plt.savefig("pic/70_history.png")
plt.clf()
plt.close()

In [8]:
print(df["loss"].min())
print(df["valLoss"].min())

8.076857
9.334738