In [1]:
import pandas as pd

data = pd.read_csv("data.csv")

In [2]:
data.head()

,Unnamed: 0,batch_size,multi,optimizer,bound,test_MSE,test_MAE
0,0,150,1.5,Adam,1,variable(196.01646),variable(8.876967)
1,1,150,1.5,Adam,2,variable(182.72466),variable(8.520519)
2,2,150,1.5,Adam,3,variable(190.4978),variable(8.857304)
3,3,150,1.5,Adam,4,variable(227.05202),variable(9.844216)
4,4,150,1.5,RMSpropGraves,1,variable(197.2275),variable(8.608305)

In [3]:
data_top = data["test_MAE"].min()
data_top

'variable(10.051524)'

In [4]:
data_top = data["test_MSE"].min()
data_top

'variable(167.63565)'